[Unit]
  Description=Bridge between UDP 1470 port and Can0 network
  After=multi-user.target

[Service]
  Type=oneshot
  RemainAfterExit=yes
  ExecStartPre=/bin/sleep 120
  ExecStart=/var/www/domocan/bin/domocan-bridgeV2 -b 192.168.1.255
  #ExecStop=nothing
  RestartSec=60

[Install]
  WantedBy=multi-user.target



#[Unit]
 # Description=Bridge between UDP 1470 port and Can0 network
  #Wants=can0.service
  #After=can0.service

#[Service]
#  Type=oneshot
#  RemainAfterExit=yes
#  ExecStartPre=/bin/sleep 200
#  ExecStart=/var/www/domocan/bin/domocan-bridge -b 192.168.1.255
  #ExecStop=nothing
#  RestartSec=60

#[Install]
#  WantedBy=can0.service
