[Unit]
  Description=Google calendar scheduler to manage event linked to Domocan
#  After=multi-user.target

[Service]
#  Type=oneshot
  Type=simple
#  RemainAfterExit=yes
  ExecStartPre=/bin/sleep 1
  ExecStart=/home/pi/CalendarGoogle/scriptToRun.sh
  #ExecStop=nothing
#  RestartSec=100

[Install]
  WantedBy=default.target
#  WantedBy=multi-user.target


